@-moz-document url-prefix() {
	.cf-realtime-enable{
		.components-modal__screen-overlay{
			+ .editor-post-locked-modal {
				display: none;
		   }
		}
	}
}
.cf-realtime-enable {
	.wp-block-create-block-multiedit {
		border: 1px dotted #f00;
	}
	.block-collab-add-block-selections__block {
		position: relative;
		&.is-peer-selected {
			outline: 1px dashed #000;
			max-width: 650px;
			&:has(.wp-block-read-more) {
				width: fit-content;
			}
			&:-moz-has-child(.wp-block-read-more) {
				width: fit-content;
			}
			&:has(.alignfull.wp-block-columns){
				max-width: none;
			}
			&:has(.alignwide.wp-block-columns){
				max-width: 1200px;
			}
			&:has(.alignfull.wp-block-group),
			&:has(.alignfull.wp-block-media-text){
				max-width: none;
				margin-right: calc(var(--wp--style--root--padding-right) * -1) !important;
				margin-left: calc(var(--wp--style--root--padding-left) * -1) !important;
			}
		}
	}
	.wp-block-gallery {
		.block-collab-add-block-selections__block {
			&.is-peer-selected {
				flex-grow: 1;
				display: flex;
			}
		}
	}
	.wp-block-columns {
		.block-collab-add-block-selections__block {
			&.is-peer-selected {
				flex-grow: 1;
				flex-basis: 0;
			}
		}
	}
	.block-collab-add-block-selections__block-peer-names {
		font-size: 12px;
		position: absolute;
		top: 100%;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 10px;
		text-transform: uppercase;
	}
	.block-collab-add-block-selections--caret {
		background: #eee;
		position: relative;
		&.is-collapsed {
			background: none;
		}
		&.is-at-end {
			&::before {
				left: auto;
				right: -1px;
			}
			&::after {
				left: 0;
			}
		}
		&::after {
			font-size: 12px;
			background-color: inherit;
			box-shadow: 0 0 2px 0 #2e3d48;
			content: attr(dataname);
			left: -1px;
			position: absolute;
			bottom: 100%;
			display: block;
			color: #fff;
			padding: 5px;
			border-radius: 2px;
			min-width: max-content;
			text-align: center;
		}
		span{
			background-color: #fff;
			background: linear-gradient(90deg, transparent 2px, #fff 2px);
			opacity: 1 !important;
			&::before{
				animation: blink-animation 1s steps(5, start) infinite;
				-webkit-animation: blink-animation 1s steps(5, start) infinite;
				display: inline-block;
				position: absolute;
				content: '';
				height: 100%;
				width: 1px;
				background-color: #000000e8;

			}
			@keyframes blink-animation {
				to {
				  visibility: hidden;
				}
			  }
			  @-webkit-keyframes blink-animation {
				to {
				  visibility: hidden;
				}
			  }
		}
	}
	.components-modal__screen-overlay {
		&:has(.editor-post-locked-modal) {
			display: none;
		}
		.editor-post-locked-modal {
			display: none;
		}
	}
	.interface-interface-skeleton__header {
		.edit-post-header {
			overflow: inherit;
		}
	}
	&.commentOn{
		.editor-styles-wrapper{
			.block-editor-block-list__layout{
				&.is-root-container{
					> .is-peer-selected{
						margin-left: 0 !important;
						width: 840px;
						width: 100%;
					}
				}
			}
		}
	}
}
.is-peer-selected {
	.wp-block {
		pointer-events: none;
	}
}
.active-users {
	display: flex;
    margin-right: 8px;
	.active-user-round-main{
		display: flex;
	}
	.active-user-round {
		border-radius: 50%;
		font-size: 16px;
		color: #fff;
		font-weight: 900;
		margin: 0px -15px -7px 1px;
		z-index: 1;
		cursor: pointer;
		float: left;
		position: relative;
		max-width: 36px;
		max-height: 36px;
		.active-user-round-tooltip {
			visibility: hidden;
			min-width: 100px;
			background-color: black;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 5px;
			position: absolute;
			z-index: 1;
			font-weight: normal;
			top: 32px;
			left: -35px;
			text-transform: capitalize;
		}
		&:hover {
			.active-user-round-tooltip {
				visibility: visible;
			}
		}
		img {
			max-width: 30px;
			max-height: 30px;
			border-radius: 50%;
		}
	}
	.active-users-plus-minus {
		background-color: gray;
		border: 1px solid;
		border-radius: 100%;
		font-size: 16px;
		margin: 3px -8px 2px 6px;
		color: #fff;
		cursor: pointer;
		width: 30px;
		height: 30px;
		line-height: 25px;
		text-align: center;
		font-weight: 600;
		position: relative;
		z-index: 1;
		outline: 3px solid #000;
		border: none;
		span {
			line-height: normal;
		}
		&:hover {
			.active-user-dropdown {
				display: block;
			}
			.active-user-count {
				display: none;
			}
			.active-user-arrow {
				display: inline-block;
			}
		}
		.active-user-count {
			font-size: 13px;
			line-height: 28px;
		}
		.active-user-arrow {
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 7px solid #413d3d;
			display: none;
		}
		.active-user-dropdown {
			display: none;
			position: absolute;
			width: 210px;
			right: -60px;
			top: 0;
			margin-top: 33px;
			box-shadow: 0 10px 40px 0 #000;
			color: #2c2a31;
			font-size: 14px;
			font-weight: 400;
			text-align: left;
			border-radius: 6px;
			padding-top: 6px;
			background-color: #fff;
			max-height: 400px;
			overflow-y: auto;
			.active-user-dropdown-single {
				padding: 5px 10px;
				line-height: normal;
				display: flex;
				&:first-child {
					border-radius: 6px 6px 0 0;
				}
				&:last-child {
					border-bottom: none;
					border-radius: 0 0 6px 6px;
				}
				.active-user-name {
					border: 1px solid;
					border-radius: 100%;
					font-size: 14px;
					color: #fff;
					font-weight: 500;
					width: 30px;
					height: 30px;
					line-height: 30px !important;
					display: inline-block;
					text-align: center;
					margin-right: 5px;
					img {
						border-radius: 100%;
						min-width: 28px;
						max-height: 28px;
					}
				}
				.active-user-dropdown-name {
					text-transform: capitalize;
					margin-top: 5px;
				}
			}
		}
	}
}
.multiedit-panel-wrap {
	display: grid;
	grid-gap: 10px;
	img {
		width: 80%;
	}
	.components-button {
		width: fit-content;
		margin: 10px auto 0;
		font-size: 12px;
		height: 30px;
		padding: 6px 20px;
		border-radius: 4px;
	}
	p {
		margin-bottom: 0;
		font-size: 12px;
		line-height: 20px;
		b {
			font-weight: 700;
			color: #000;
		}
	}
	ul {
		margin: 0;
		padding: 0 0 7px 2px;
		border-bottom: 1px solid #e3e3e3;
		margin-bottom: 3px;
		li {
			font-size: 12px;
			list-style: disc;
			margin-left: 10px;
			margin-bottom: 0;
			line-height: 30px;
			color: #000;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
.sidebar-close {
	.commentOn {
		.editor-styles-wrapper {
			&.block-editor-writing-flow {
				& > .block-editor-block-list__layout {
					padding-right: 360px;
				}
			}
		}
	}
}
button {
	&.components-button {
		&.multiedit-panel-invite-Btn {
			&:focus {
				box-shadow: unset;
			}
			&:focus-visible {
				box-shadow: unset;
			}
		}
	}
}
#gp-active-users-wrapper {
	margin-right: 15px;
    display: flex;
    align-items: center;
}
.components-button {
	&.interface-complementary-area__pin-unpin-item {
		display: none !important;
	}
}
.block-collab-add-block-selections__block-peer-names {
	& + blockquote {
		&.wp-block-quote {
			.block-collab-add-block-selections__block-peer-names {
				position: absolute;
				right: 0;
			}
		}
	}
}
.components-snackbar__content {
	text-transform: capitalize;
}
.cf-commentor-active {
	margin-right: 0;
	margin-top: 0;
	.active-users {
		@media screen and (min-width: 781px) {
			margin-right: 10rem;
		}
   }
}

.block-collab-add-block-selections__block {
	&.is-peer-selected {
		cursor: not-allowed;
	}
}

pre.wp-block-verse,
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption{
	overflow:visible;
}