.multicollab_body_class {
	.collaborators-list-sidebar {
		.icon-link {
			&::before {
				display: none;
			}
		}
		h2 {
			&.components-panel__body-title {
				margin: 0 !important;
			}
		}
		.postOwner-description {
			width: min-content;
			& > .postOwner-description {
				padding-left: 10px;
			}
			.postOwner-email {
				width: 180px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: block;
			}
		}
		.components-panel__body {
			&.is-opened {
				padding: 0;
			}
		}
		.userWithPermission {
			max-height: 200px;
			overflow-y: auto;
		}
		.accessed-user-list {
			padding: 0 20px;
			margin: 5px 0 20px;
			overflow: hidden;
			max-height: none;
			li {
				padding: 0;
				margin-bottom: 18px;
				cursor: pointer;
				padding: 2px;
				margin-bottom: 10px;
				cursor: pointer;
				&:hover {
					background-color: transparent;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		li {
			&.user-online {
				.postOwner-image {
					border: 3px solid #49bf42;
					border-radius: 50%;
					padding: 0;
					width: 32px;
				}
			}
			&.user-offline {
				.postOwner-image {
					border: 3px solid #a2a2a2;
					border-radius: 50%;
					padding: 0;
					width: 32px;
					opacity: .4;
				}
			}
		}
		.postOwner-image {
			img {
				width: 32px;
				height: 26px;
			}
		}
	}
	.comment-summary-row-loading {
		padding: 20px 30px 20px 10px;
	}
	.comment-header {
		.commenter-name-time {
			.commenter-name {
				@media screen and (max-width:1400px){
					font-size:13px;
					word-break:break-word;
					white-space:break-spaces
				}
				span {
					&.tooltip {
						&::first-letter {
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}
	input#cf_multiedit_websocket {
		width: 100%;
		margin-left: 20px;
		height: 37px;
		min-width: 280px;
		flex-basis: 40%;
		@media screen and (max-width:1024px) {
			margin-left: 0;
		}
	}
	.cf-websocket {
		display: contents;
	}
	span {
		&.components-form-toggle {
			&.is-disabled {
				& + label {
					opacity: .5;
				}
			}
		}
		&.multiedit-share {
			font-size: 13px;
			font-weight: 400;
			color: #000;
		}
	}
	#multiedit-top-share {
		padding-right: 6px;
		@media screen and (max-width:781px){
			margin-top: 2px;
		}
	}
	button {
		&.components-button {
			&.multiedit-panel-invite-Btn {
				border: 1px solid #000;
				color: #000;
				font-size: 14px;
				padding: 10px;
				font-size: 10px;
				font-weight: 500;
				border-radius: 4px;
				display: flex;
				&:hover {
					background-color: #000;
				}
				&.multicollab-panel-invite-Btn {
					&:hover {
						svg {
							&.multiedit-share-svg {
								color: #fff;
							}
						}
						span {
							&.multiedit-share {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	svg {
		&.multiedit-share-svg {
			float: left;
			margin-right: 8px;
			color: #000;
		}
	}
	.cf_suggestion_option {
		.cf-notification-settings {
			.cf-websocket {
				label {
					display: flex;
					align-items: center;
					height: 37px;
					@media screen and (max-width:1024px) {
						flex-direction: column;
						height: unset;
						align-items: unset;
					}
				}
				.cf_websocket_custom_url_section {
					display: flex;
					align-items: center;
					gap: 10px;
					flex-wrap: wrap;
					@media screen and (max-width:1024px) {
						margin-top: 10px;
					}
				}
			}
		}
	}
	.cf-notification-settings{
		&.multiedit-websocket-settings{
			@media screen and (max-width:1024px) {
				align-items: baseline;
			}
		}
	}
}
.collaborators-list-sidebar {
	.postOwner-description {
		.postOwner-name {
			width: 180px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
		}
	}
}
