 
.multicollab_body_class {
	.cf-plugin-settings {
		@media screen and (max-width:780px) {
			padding-left: 10px;
		}
		.cf-pricing-dashboard {
			width: 100% !important;
			padding: 0;
			.cf-video {
				padding: 50px 0 0 0;
				margin: 0 -12px;
				@media screen and (max-width:1200px){
					display: block;
				}
			}
			.cf-card {
				margin: 50px auto 50px 0;
				border: none;
				box-shadow: none;
				display: flex;
				max-width: 100%;
				text-align: left;
				justify-content: space-between;
				padding: 25px;
				align-items: center;
				@media screen and (max-width:1200px){
					margin: 30px auto 0;
				}
				h3 {
					color: #000000;
					margin-bottom: 10px;
					font-size: 22px;
				}
				p {
					font-size: 16px;
				}
				.cf-card-header,
				.cf-card-body {
					padding: 0;
				}
			}
			
		}
	}
}
