.commentOn {
	.edit-post-visual-editor__post-title-wrapper {
		padding-left: 72px !important;
		margin-left: 0 !important;
		.wp-block-post-title {
			margin-left: 0 !important;
			text-align: left;
		}
	}
	.is-sidebar-opened {
		.editor-styles-wrapper {
			&.block-editor-writing-flow {
				.edit-post-visual-editor__post-title-wrapper {
					.wp-block {
						padding-left: 0 !important;
						@media screen and (max-width:1560px){
							float: left;
							width:calc(100% - 335px);
							padding-bottom:24px;
						}
						@media screen and (max-width:1200px){
							float:none;
							width: calc(100% - 255px)
						}
					}
				}
			}
		}
	}
	&:not(.is-fullscreen-mode){
		.is-sidebar-opened {
			.editor-styles-wrapper {
				&.block-editor-writing-flow {
					.edit-post-visual-editor__post-title-wrapper {
						.wp-block {
							@media screen and (max-width:1560px){
								float: none;
								margin-left: 0 !important;
							}
						}
					}
				}
			}
		}
	}
	.editor-styles-wrapper {
		.wp-block {
			&.block-list-appender {
				width: auto;
			}
		}
		.wp-block-navigation {
			.wp-block {
				width: auto;
			}
		}
		.is-root-container {
			& > .wp-block[data-align="left"] {
				float: left;
				height: auto;
			}
			& > .wp-block {
				&.alignleft {
					float: left;
					height: auto;
				}
				&.alignright {
					float: right;
					height: auto;
				}
			}
			& > .wp-block[data-align="right"] {
				float: right;
				height: auto;
			}
			.cf-wrapperblock__suggestion {
				.wp-block[data-align="left"],
				.wp-block[data-align="right"] {
					height: auto;
					display: inline-block;
					margin-top: 0;
				}
			}
		}
		.block-editor-block-list__layout {
			&.is-root-container {
				& > .wp-block,.wc-block-reviews-by-product {
					margin-left: 0 !important;
					margin-right: auto;
					width: 100%;
					flex-wrap: wrap !important;
					gap: 2.5rem;
					@media screen and (max-width:1280px){
						flex-direction: column;
					}
					&.alignfull {
						margin-left: 0 !important;
						margin-right: 0 !important;
						left: 0;
						width: 100%;
					}
				}
				& > .alignwide {
					max-width: 1000px;
				}
				& > .alignfull {
					max-width: none;
				}
				& > .wp-block[data-align="full"] {
					margin-left: 0 !important;
					margin-right: 0 !important;
					left: 0;
					width: 100%;
				}
			}
		}
		.edit-post-visual-editor__post-title-wrapper {
			& > .alignwide {
				max-width: 1000px;
			}
			& > .alignfull {
				max-width: none;
			}
		}
		&.block-editor-writing-flow{
			.edit-post-visual-editor__post-title-wrapper{
				.wp-block{
					max-width:50%;
					margin-left: 0!important;
					margin-right: 0!important;
					@media screen and (max-width:768px) {
						margin-left: 0 !important;
						margin-right: 0 !important;
					}
				}
			}
		}
	}
}
.multicollab_body_class{
	.responsive-layout{
		.block-editor-writing-flow{
			@media screen and (max-width:1200px){
				width:100%
			}
		}
	}
}
body {
	&:not(.hide-sg) {
		.editor-styles-wrapper {
			&.block-editor-writing-flow {
				.edit-post-visual-editor__post-title-wrapper {
					.wp-block {
						@media screen and (max-width:1200px){
							float: none;
							width: calc(100% - 255px);
						}
						@media screen and (max-width:768px) {
							margin-left: 0 !important;
							margin-right: 0 !important;
						}
					}
				}
			}
		}
	}
}
