.multicollab_body_class {
	#cf-span__status {
		background-color: #def3ff;
	}
	.cf-board__notice {
		top: 30px;
		background-color: #fdf0b6;
		color: #191e23;
		padding: 16px 24px;
		font-size: 13px;
		position: fixed;
		z-index: 999999;
		-webkit-box-shadow: 0 3px 10px 0 rgb(0, 0, 0, 0.05);
		box-shadow: 0 3px 10px 0 rgb(0, 0, 0, 0.05);
		right: 0;
		left: 0;
		width: 100%;
		margin-top: 30px;
		-webkit-box-shadow: 0 3px 10px 0 rgb(0, 0, 0, 0.05);
		box-shadow: 0 3px 10px 0 rgb(0, 0, 0, 0.05);
		line-height: 22px;
		@media screen and (max-width:1400px){
			margin-right: 35px;
		}
		@media screen and (max-width:1024px) {
			margin-right: 60px;
			padding: 15px;
		}
		@media screen and (max-width:782px) {
			top: 116px;
			left: 0;
		}
		@media screen and (max-width:780px) {
			margin-right: 47px;
		}
		span {
			font-weight: bold;
			color: #fff;
			padding: 1px 5px;
			border: 1px solid #0000;
			background-color: #007cba;
			border-radius: 22px;
			text-align: center;
			font-size: 10px;
		}
		&.is-cf-pressed {
			left: 351px;
			@media screen and (max-width:960px) {
				left: 387px;
			}
		}
		&.is-cf-pressed-not-fullscreen{
			@media screen and (min-width:961px){
				left: 160px;
				top: 60px;
			}
			@media screen and (min-width:781px) and (max-width:960px) {
				left: 30px;
				top: 60px;
			}
			@media screen and (max-width:780px) {
				top: 116px;
			}
			&.is-cf-pressed{
				left: 510px;
				@media screen and (max-width:960px) {
					left: 387px;
				}
			}
		}
	}
	&.is-fullscreen-mode {
		.cf-board__notice {
			top: 31px;
			@media screen and (max-width:782px) {
				top: 77px;
			}
		}
	}
	#cf-board__notice {
		z-index: 9999999;
		border-left: 4px solid #F0B849;
		a {
			color: #4b1bce;
		}
	}
	.is-sidebar-opened {
		.cf-board__notice {
			right: 295px;
		}
	}

}
