.multicollab_body_class {
	.sg-board {
		.board {
			.commentContainer {
				.comment-actions {
					position: relative;
					top: 0;
					right: 0;
					width: auto;
					margin: 0;
				}
			}
			.btn-comment {
				opacity: 1;
			}
			.comment-header {
				.comment-actions {
					.suggest-box-action {
						&.buttons-wrapper {
							i {
								.tooltip {
									font-size: 14px;
									background: #000;
									color: #fff;
									padding: 8px 10px;
									font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
									font-weight: 600;
									position: absolute;
									top: 100%;
									right: 0;
									min-width: -webkit-max-content;
									min-width: -moz-max-content;
									min-width: max-content;
									-webkit-transform: translate(40px, 5px);
									-ms-transform: translate(40px, 5px);
									transform: translate(40px, 5px);
									display: none;
									&:before {
										content: "\f142";
										display: inline-block;
										font-family: 'dashicons';
										position: absolute;
										right: 0;
										top: 0;
										-webkit-transform: translate(-40px, -16px);
										-ms-transform: translate(-40px, -16px);
										transform: translate(-40px, -16px);
										color: #000;
										font-size: 26px;
										line-height: 1;
									}
								}
								&.btn-remove-suggestion {
									.tooltip {
										-webkit-transform: translate(10px, 5px);
										-ms-transform: translate(10px, 5px);
										transform: translate(10px, 5px);
										&:before {
											-webkit-transform: translate(-10px, -16px);
											-ms-transform: translate(-10px, -16px);
											transform: translate(-10px, -16px);
										}
									}
								}
								&:hover {
									.tooltip {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.suggestion-toggle {
		padding: 0 !important;
		.components-base-control__field {
			margin-bottom: 12px;
		}
		.sg-notice {
			color: #f02849;
		}
	}
	&.hide-sg {
		#cf-span__comments {
			.sg-board {
				display: none;
			}
		}
		.wp-block {
			del,
			.mdremoved {
				color: currentColor;
				text-decoration: none;
				.mdmodified {
					color: currentColor;
					text-decoration: none;
				}
			}
			ins {
				color: currentColor;
				&.mdadded {
					&:not([data-rich-text-format-boundary="true"]) {
						& > span {
							&.has-inline-color {
								&:not([data-rich-text-format-boundary="true"]) {
									color: currentColor !important;
								}
							}
						}
					}
				}
			}
			.mdadded,
			.mdmodified {
				color: currentColor;
			}
			[data-space="spacesadded"] {
				border: none;
			}
		}
		ins[data-rich-text-format-boundary="true"],
		del[data-rich-text-format-boundary="true"] {
			background-color: transparent;
			border: none !important;
		}
		ins,
		del {
			*[data-rich-text-format-boundary="true"] {
				background-color: transparent;
				border: none !important;
			}
		}
		.rich-text {
			.mdmodified {
				mark {
					&:not([data-rich-text-format-boundary]) {
						color: currentColor !important;
					}
				}
			}
		}
		[data-sgfocused] {
			border: none;
		}
	}
	.shareCommentContainer {
		.btn-success {
			position: relative;
			.tooltip {
				-webkit-transform: translate(-14px, 7px);
				-ms-transform: translate(-14px, 7px);
				transform: translate(-14px, 7px);
			}
			&:hover {
				.tooltip {
					display: block;
					-webkit-transform: translate(-18px, 12px);
					-ms-transform: translate(-18px, 12px);
					transform: translate(-18px, 12px);
				}
			}
		}
		.suggestion-comment-accpt-meta {
			li {
				i {
					&.dashicons-share {
						&:hover {
							.tooltip {
								-webkit-transform: translate(-18px, 0);
								-ms-transform: translate(-18px, 0);
								transform: translate(-18px, 0);
								-moz-transform: translate(-18px, 0);
								-o-transform: translate(-18px, 0);
							}
						}
					}
					&:hover {
						.tooltip {
							-webkit-transform: translate(-85px, 0px);
							-ms-transform: translate(-85px, 0px);
							transform: translate(-85px, 0px);
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.editor-styles-wrapper {
		.suggestion-comment-accpt-meta {
			padding-left: 0;
			margin-left: 0;
			list-style: none;
			margin: 0;
		}
	}
	.suggestion-comment-accpt-meta {
		li {
			display: inline-block;
			margin-right: 10px;
			position: relative;
			@media screen and (max-width:1280px){
				margin-right:5px;
			}
			&:last-child {
				margin-right: 0 !important;
			}
			i {
				font-size: 24px;
				cursor: pointer;
				color: rgb(0, 124, 186, 0.4);
				line-height: 18px;
				&.dashicons-share {
					font-size: 18px;
					line-height: 24px;
				}
				&:hover {
					color: #007CBA;
					.tooltip {
						display: block;
					}
				}
			}
		}
	}
	.commentContainer {
		.suggestion-comment-accpt-meta {
			li {
				i {
					&:hover {
						.tooltip {
							-webkit-transform: translate(-85px, 0px);
							-ms-transform: translate(-85px, 0px);
							transform: translate(-85px, 0px);
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.cls-board-outer {
		&.sg-board {
			.board {
				.commentContainer {
					.commentText {
						em {
							color: #50575E;
							font-weight: 400;
						}
					}
				}
			}
		}
	}
	.js-activity-centre {
		.user-commented-icon {
			a {
				& > * {
					pointer-events: none;
				}
			}
		}
	}
	&:not(.hide-sg) {
		.wp-block[data-sgheading=true] {
			.mdadded {
				border: none;
			}
		}
	}
	#cf-span__comments {
		.cls-board-outer {
			&.focus {
				.show-all-comments {
					display: none !important;
				}
				.commentContainer {
					display: block !important;
				}
			}
		}
	}
	.board {
		.commentInnerContainer {
			.updated-time {
				&:hover {
					.tooltip {
						visibility: visible;
						display: block;
						opacity: 1;
					}
				}
			}
		}
	}
	.wc-block-mini-cart{
		display: block;
	}
}
.commentOn {
	.wp-block {
		del,
		.mdremoved {
			color: #EA1010;
			.mdmodified {
				color: #EA1010;
			}
		}
		.mdremoved {
			&:has(img) {
				border: none;
			}
			img {
				border-top: 2px solid #EA1010;
				border-bottom: 2px solid #EA1010;
			}
		}
		ins {
			color: #188651;
			text-decoration: none;
			&.mdadded {
				&:not([data-rich-text-format-boundary="true"]) {
					& > span {
						&.has-inline-color {
							&:not([data-rich-text-format-boundary="true"]) {
								color: #188651 !important;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.mdadded {
			color: #188651;
			text-decoration: none;
			[data-rich-text-format-boundary="true"] {
				img {
					border-top: 2px solid #188651;
					border-bottom: 2px solid #188651;
				}
			}
			&:has(img) {
				border: none;
			}
		}
		.mdmodified {
			color: #188651;
			text-decoration: none;
		}
		img {
			&.mdmodified {
				border-top: 2px solid #188651;
				border-bottom: 2px solid #188651;
			}
		}
		[data-space="spacesadded"] {
			border-top: 2px solid #188651;
			border-bottom: 2px solid #188651;
		}
	}
	&:not(.hide-sg) {
		.wp-block {
			.mdmodified {
				a {
					color: #188651;
					text-decoration: none;
				}
			}
			&:has(.alignupdate),
			&:has(.textalignupdate),
			&:has(.lockupdate),
			&:has(.headingupdate) {
				border-width: 2px;
				border-style: solid;
				border-color: #188651;
			}
		}
		.mdadded[data-rich-text-format-boundary="true"] {
			background-color: transparent;
			border-top: 2px solid #188651;
			border-bottom: 2px solid #188651;
		}
		.editor-styles-wrapper {
			.wp-block {
				&.mdaligned,
				&.blockAdded,
				&.mdformatblockClass,
				&.mdheading,
				&.mdlock {
					border-width: 2px;
					border-style: solid;
					border-color: #188651;
				}
				&.mdremoved {
					border-width: 2px;
					border-style: solid;
					border-color: #EA1010;
				}
			}
			.wp-block[data-sgalign=true],
			.wp-block[data-sgblockAdded=true],
			.wp-block[data-sgheading=true],
			.wp-block[data-sglock=true] {
				border-width: 2px;
				border-style: solid;
				border-color: #188651;
				&.wc-block-all-reviews {
					border-width: 0px;
					border-style: unset;
					border-color: unset;
				}
			}
			.wp-block[data-sgremove=true] {
				border-width: 2px;
				border-style: solid;
				border-color: #EA1010;
			}
		}
		.wp-block[textAlign_sg_id],
		.wp-block[lock_sg_id],
		.wp-block[align_sg_id] {
			border-width: 2px;
			border-style: solid;
			border-color: #188651;
		}
	}
	ins {
		&.mdadded {
			*[data-rich-text-format-boundary="true"] {
				background-color: transparent;
				border-top: 2px solid #188651;
				border-bottom: 2px solid #188651;
			}
		}
	}
	.mdmodified {
		*:not(.mdspan-comment)[data-rich-text-format-boundary="true"] {
			background-color: transparent;
			border-top: 2px solid #188651;
			border-bottom: 2px solid #188651;
		}
	}
	del {
		&.mdremoved {
			*[data-rich-text-format-boundary="true"] {
				background-color: transparent;
				border-top: 2px solid #188651;
				border-bottom: 2px solid #188651;
			}
		}
		&.mdremoved[data-rich-text-format-boundary="true"] {
			background-color: transparent;
			border-top: 2px solid #188651;
			border-bottom: 2px solid #188651;
		}
	}
	.mdmodified[data-rich-text-format-boundary="true"] {
		background-color: transparent;
		border-top: 2px solid #188651;
		border-bottom: 2px solid #188651;
	}
	.rich-text {
		&:focus {
			ins[data-rich-text-format-boundary="true"],
			del[data-rich-text-format-boundary="true"] {
				background-color: transparent;
			}
			ins,
			del {
				*[data-rich-text-format-boundary="true"] {
					background-color: transparent;
				}
			}
			*[data-rich-text-format-boundary] {
				background-color: transparent;
			}
		}
		.mdmodified {
			mark[data-rich-text-format-boundary="true"] {
				color: currentColor;
			}
			mark {
				&:not([data-rich-text-format-boundary]) {
					color: #188651 !important;
				}
			}
		}
	}
	&:not(.hide-comments) {
		.rich-text {
			&:focus {
				mdspan {
					.mdmodified {
						*[data-rich-text-format-boundary="true"] {
							background-color: #fcef45;
						}
					}
				}
			}
		}
		.editor-styles-wrapper {
			.commentIcon {
				&.is-selected,
				&.is-focused,
				&.focus {
					border: 2px solid #fcef45;
				}
				&.wc-block-all-reviews{
					border: none;
					padding: 0;
					&.focus {
						border: none;
					}
				}
			}
			.cf-onwhole-block__comment {
				&.focus {
					border: 2px solid #fcef45;
				}
			}
		}
	}
	.wp-block-cover {
		.cf-wrapperblock__suggestion {
			margin: 40px;
		}
	}
}
.commentContainer {
	.suggestion-comment-accpt-meta {
		li {
			i {
				&.dashicons-share {
					&:hover {
						.tooltip {
							-webkit-transform: translate(-18px, 0);
							-ms-transform: translate(-18px, 0);
							transform: translate(-18px, 0);
							-moz-transform: translate(-18px, 0);
							-o-transform: translate(-18px, 0);
						}
					}
				}
			}
		}
	}
}
[data-sgfocused] {
	border-top: 2px solid #188651;
	border-bottom: 2px solid #188651;
}
