/* Request Access CSS */
.cf_request_access_content {text-align: center;padding: 20px;background: white;}
.cf_request_access_content label {display: block;margin: 15px 0px;font-size: 18px;line-height: 30px;}
.cf_request_access_content .cf_access_validation {color: red;}
.cf_request_access_content .cf_access_authorization_status {display: block;}
.cf_request_access_content input#cf_request_access_email {width: 50%;padding: 15px 15px;margin: 15px 0px;border-radius: 4px;border: 1px solid #000;}
.cf_request_access_content .request_access_heading{margin: 30px 0px;font-size: 50px;line-height: 40px;}
.cf_request_access_content .cf_request_access_submit,.request_access_content .request_access_desc {margin-top: 15px;margin-bottom: 15px;font-size: 18px;line-height: 30px;}
.cf_request_access_content .cf_request_access_submit{padding: 10px 15px;border: 1px solid #000;color: #000;border-radius: 4px;font-weight: 500;background: #fff;cursor: pointer;}
.cf_request_access_content .cf_request_access_submit:hover{background: #000;color: #fff;}
.cf_request_access_content .cf_request_access_submit:focus{color: #fff;}
.cf_request_access_content span.cf_access_authorization_status.failed { color:red;font-size: 16px;line-height: 24px; }
.cf_request_access_content span.cf_access_authorization_status.success { color:green;font-size: 16px;line-height: 24px; }

@media screen and (max-width:767px) {
    .cf_request_access_content input#cf_request_access_email {width: 100%;}
    .cf_request_access_content .cf_request_access_heading{font-size: 30px;line-height: 24px;}
}